*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
}
header .logo img{
    height: 100px;
    width: 100px;
}
nav{
    margin: 2rem;
}
nav a{
    font-size: 15pt;
}
.banner{
    height: 100vh;
    background-image: url(../image/h.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
}
.name{
     font-family: Lucida Handwriting;
     margin-left: 3em;
}
.header{
    height: 14vh;
    background-color: black;
}
.about{
    background-color: black;
    height: 86vh;
}
.about-me{
    margin-top: 6rem;
    text-indent: 2rem;
}
.info-holder{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
}
.info-holder{
    text-indent: 3rem;
    color: white;
}
.image-holder img{
    height: 97%;
}
.image-holder-skills img{
    margin-top: 1.1rem;
    height: 100%;
}
.skills{
    background-color: black;
    height: 86vh;
}
.skill-holder{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skill-images{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-images img{
    height: 150px;
    width: 150px;
}